.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.scrollArea {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  
  .main {
    height: auto;
    overflow: visible;
  }
}
